---
// CancelarButton.astro

const { text, href} = Astro.props;
---
<button>
   <a href={href} class="border-2 border-white text-white font-bold py-1 px-4 sm:py-2 sm:px-6 rounded hover:bg-gray-800 focus:outline-none transition duration-300">
    {text}
</a>
</button>