<!-- cardTitulo: Sección del titulo el logo y su descripcion -->
 <div class="">
    <div class=" flex flex-col items-center sm:flex-row sm:items-start sm:space-x-4 mt-6 space-y-4 sm:space-y-0 text-center sm:text-left ">
        <div class=" p-4 sm:p-8">
            <div class="bg-green-500 text-white p-4 rounded-lg text-center mb-4">
                <h2 class="text-lg font-bold">LA MEJOR CALIDAD, BUENOS PRECIOS</h2>
            </div>
            <div>
                <p class="text-center mb-4">Tienda y licorera Manrubio</p>
                <p class="text-sm">Acercate para tener el gusto de atenderte y brindarle una experiencia inolvidable.</p>
            </div>
        </div>   
        <div>
            <img src="https://res.cloudinary.com/dd3oucmlo/image/upload/v1725943086/LOGO-removebg-preview_vcbivb.png" alt="Logo"
            class="max-w-xs w-full sm:max-w-md">
        </div>
    </div>
</div>