<!-- cardTitulo: Sección del titulo el logo y su descripcion -->
<div class="flex mt-6 ">
    <div class=" p-8">
        <div class="bg-green-500 text-white p-4 rounded-lg text-center mb-4">
            <h2 class="text-lg font-bold">LA MEJOR CALIDAD, BUENOS PRECIOS</h2>
        </div>
        <div>
            <p class="text-center mb-4">Tienda y licorera Manrubio</p>
            <p class="text-sm">Acercate para tener el gusto de atenderte y brindarle una experiencia inolvidable.</p>
        </div>
    </div>   
    <div class="border-4 border-green-400 rounded-lg">
        <img src="https://res.cloudinary.com/dd3oucmlo/image/upload/v1725928403/LOGO_tcp078.png" alt="Logo">
    </div>
</div>