<!-- Footer: Sección al final de la pagina con información de derechos de autor -->
<div class="border-2 border-blue-500 hidden sm:block">
    <footer class="bg-black text-white p-4 flex flex-col justify-center items-center">
      <img src="https://res.cloudinary.com/dd3oucmlo/image/upload/v1725928420/manrubio_arzwgc.png" alt="Logo Manrubio">
      <p>&copy; 2024</p>
    </footer>  
  </div>
  