---
// NavBar.astro
---

<nav class="bg-gray-900 p-4 flex justify-between items-center border-b-4 border-blue-400">
    <!-- Logo Section -->
    <div class="flex items-center">
      <img src="https://res.cloudinary.com/dd3oucmlo/image/upload/v1725928420/manrubio_arzwgc.png" alt="Manrubio Logo" class="w-24 h-auto" />
       <!-- Ícono de cerrar sesión -->
      <img src="https://res.cloudinary.com/dd3oucmlo/image/upload/v1725928375/icons8-logout-rounded-64_mprmci.png" alt="Cerrar sesión">
    </div>
    
    <!-- User Icon Section -->
    <div class="flex items-center space-x-6">
      <!-- Botones de Navegación -->
      <div class="flex space-x-4">
        <a href="/home" class="border-2 border-blue-500 text-blue-400 px-4 py-2 rounded hover:bg-blue-700 hover:text-white transition duration-300">
          HOME
        </a>
        <a href="/agregar-producto" class="border-2 border-white text-white px-4 py-2 rounded hover:bg-blue-700 transition duration-300">
          AGREGAR PRODUCTO
        </a>
      </div>
    </div>
  </nav>
  