@tailwind base;
@tailwind components;
@tailwind utilities;

/* scroll personalizado para navegadores basados en WebKit (Chrome, Safari) */
.scrollbar-custom::-webkit-scrollbar {
    width: 8px; /* Grosor del scroll */
  }
  
  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #1E40AF; /* Azul oscuro */
    border-radius: 10px; /* Bordes redondeados */
  }
  
  .scrollbar-custom::-webkit-scrollbar-track {
    background-color: transparent; /* Fondo del scroll */
  }
  
  /* Para Firefox */
  .scrollbar-custom {
    scrollbar-width: thin;
    scrollbar-color: #1E40AF transparent;
  }
  
  .custom-space-reverse > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 1; /* O el valor que necesites */
  }

  /* Estilos para categorías */
.border-cervezas {
  border-color: #3498db; /* Azul */
}

.bg-cervezas {
  background-color: #3498db; /* Azul */
}

.border-snacks {
  border-color: #27ae60; /* Verde */
}

.bg-snacks {
  background-color: #27ae60; /* Verde */
}

.border-licores {
  border-color: #f1c40f; /* Amarillo */
}

.bg-licores {
  background-color: #f1c40f; /* Amarillo */
}